<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.distinct.hotel.sale.dao.FilterRuleMapper">
  <resultMap id="BaseResultMap" type="com.distinct.hotel.sale.model.FilterRule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sale_rule_id" property="saleRuleId" jdbcType="INTEGER" />
    <result column="provider_id" property="providerId" jdbcType="INTEGER" />
    <result column="filter_type" property="filterType" jdbcType="VARCHAR" />
    <result column="filter_id" property="filterId" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sale_rule_id, provider_id, filter_type, filter_id, created
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.distinct.hotel.sale.model.FilterRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_filter_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_filter_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_filter_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.distinct.hotel.sale.model.FilterRuleExample" >
    delete from t_filter_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.distinct.hotel.sale.model.FilterRule" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_filter_rule (sale_rule_id, provider_id, filter_type, 
      filter_id, created)
    values (#{saleRuleId,jdbcType=INTEGER}, #{providerId,jdbcType=INTEGER}, #{filterType,jdbcType=VARCHAR}, 
      #{filterId,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.distinct.hotel.sale.model.FilterRule" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_filter_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="saleRuleId != null" >
        sale_rule_id,
      </if>
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="filterType != null" >
        filter_type,
      </if>
      <if test="filterId != null" >
        filter_id,
      </if>
      <if test="created != null" >
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="saleRuleId != null" >
        #{saleRuleId,jdbcType=INTEGER},
      </if>
      <if test="providerId != null" >
        #{providerId,jdbcType=INTEGER},
      </if>
      <if test="filterType != null" >
        #{filterType,jdbcType=VARCHAR},
      </if>
      <if test="filterId != null" >
        #{filterId,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.distinct.hotel.sale.model.FilterRuleExample" resultType="java.lang.Integer" >
    select count(*) from t_filter_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_filter_rule
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.saleRuleId != null" >
        sale_rule_id = #{record.saleRuleId,jdbcType=INTEGER},
      </if>
      <if test="record.providerId != null" >
        provider_id = #{record.providerId,jdbcType=INTEGER},
      </if>
      <if test="record.filterType != null" >
        filter_type = #{record.filterType,jdbcType=VARCHAR},
      </if>
      <if test="record.filterId != null" >
        filter_id = #{record.filterId,jdbcType=INTEGER},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_filter_rule
    set id = #{record.id,jdbcType=INTEGER},
      sale_rule_id = #{record.saleRuleId,jdbcType=INTEGER},
      provider_id = #{record.providerId,jdbcType=INTEGER},
      filter_type = #{record.filterType,jdbcType=VARCHAR},
      filter_id = #{record.filterId,jdbcType=INTEGER},
      created = #{record.created,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.distinct.hotel.sale.model.FilterRule" >
    update t_filter_rule
    <set >
      <if test="saleRuleId != null" >
        sale_rule_id = #{saleRuleId,jdbcType=INTEGER},
      </if>
      <if test="providerId != null" >
        provider_id = #{providerId,jdbcType=INTEGER},
      </if>
      <if test="filterType != null" >
        filter_type = #{filterType,jdbcType=VARCHAR},
      </if>
      <if test="filterId != null" >
        filter_id = #{filterId,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.distinct.hotel.sale.model.FilterRule" >
    update t_filter_rule
    set sale_rule_id = #{saleRuleId,jdbcType=INTEGER},
      provider_id = #{providerId,jdbcType=INTEGER},
      filter_type = #{filterType,jdbcType=VARCHAR},
      filter_id = #{filterId,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- this is the method of selectBySaleRuleId -->
 <select id="selectBySaleRuleId"  resultMap ="BaseResultMap" parameterType="java.lang.Integer"  > 
  
  select 
   <include refid="Base_Column_List"/> 

  from t_filter_rule
 where sale_rule_id = #{saleRuleId, jdbcType=INTEGER}
  
  
  
  
  </select>
  <!-- this is the method of selectListBySaleRuleId -->
  <select id="selectListBySaleRuleId"  resultMap ="BaseResultMap" parameterType="java.lang.Integer"  > 
  
  select 
   <include refid="Base_Column_List"/> 

  from t_filter_rule
 where sale_rule_id = #{saleRuleId, jdbcType=INTEGER}
  
  
  
  
  </select>
  <!-- this is the method of FilterType -->
  <select id="selectListByFilterType" resultMap ="BaseResultMap">
  select
  <include refid="Base_Column_List"/>
  from t_filter_rule
  where filter_type = '城市过滤'
  </select>
    <!-- this is the method of FilterTypebyhotel -->
  <select id="selectListByFilterTypeofHotel" resultMap ="BaseResultMap">
  select
  <include refid="Base_Column_List"/>
  from t_filter_rule
  where filter_type = '酒店过滤'
  </select>
  <!-- the method for deleteCityFilterRule -->
  <delete id="deleteCityFilterRule" parameterType="java.lang.Integer">
  delete
  from t_filter_rule
  where filter_type = '城市过滤' and filter_id =#{filterId,jdbcType=INTEGER}
  </delete>
    <!-- the method for deleteHotelFilterRule -->
  <delete id="deleteHotelFilterRule" parameterType="java.lang.Integer">
  delete
  from t_filter_rule
  where filter_type = '酒店过滤' and filter_id =#{filterId,jdbcType=INTEGER}
  </delete>
  <!-- **************************添加了saleRuleId后的选择*************************************************** -->
  <!-- this is the method of selectListFilterRuleByFilterCityTypeAndSaleRuleId -->
  <select id="selectListFilterRuleByFilterCityTypeAndSaleRuleId" resultMap ="BaseResultMap">
  select
  <include refid="Base_Column_List"/>
  from t_filter_rule
  where sale_rule_id = #{saleRuleId,jdbcType=INTEGER} and filter_type = '城市过滤' 
  </select>
    <!-- this is the method of selectListFilterRuleTypeByhotelAndSaleRuleId -->
  <select id="selectListFilterRuleTypeByhotelAndSaleRuleId" resultMap ="BaseResultMap">
  select
  <include refid="Base_Column_List"/>
  from t_filter_rule
  where filter_type = '酒店过滤' and sale_rule_id = #{saleRuleId,jdbcType=INTEGER}
  </select>
  <!-- the method for deleteCityFilterRuleWithSaleRuleId -->
  <delete id="deleteCityFilterRuleWithSaleRuleId" parameterType="java.lang.Integer">
  delete
  from t_filter_rule
  where sale_rule_id = #{saleRuleId,jdbcType=INTEGER} and filter_type = '城市过滤' and filter_id =#{filterId,jdbcType=INTEGER}  
  </delete>
      <!-- the method for deleteHotelFilterRuleWithSaleRuleId -->
  <delete id="deleteHotelFilterRuleWithSaleRuleId" parameterType="java.lang.Integer">
  delete
  from t_filter_rule
  where sale_rule_id = #{saleRuleId,jdbcType=INTEGER} and filter_type = '酒店过滤' and filter_id =#{filterId,jdbcType=INTEGER} 
  </delete>
  <!-- this is the method of selectListAllWithSaleRuleId -->
  <select id="selectListAllWithSaleRuleId" resultMap ="BaseResultMap">
  select
  <include refid="Base_Column_List"/>
  from t_filter_rule
   where sale_rule_id = #{saleRuleId,jdbcType=INTEGER}
  </select>
</mapper>